<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberGrand Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/security_check.css') }}">
</head>security_check.css
<body>
    <header class="header">
        <div class="logo">CyberGrand</div>
        <div class="header-links">
            <a href="/" class="login-link" style="color: #ffff; text-decoration: none;">Incidents</a>
            
            <a href="#" class="sign-in-link" style="color: #ffff; text-decoration: none;">Assets</a>
            <a href="/main" class="sign-in-link" style="color: #ffff; text-decoration: none; ">Vulnerabilities</a>
            <a href="/story" class="sign-in-link" style="color: #ffff; text-decoration: none;">Scan</a>
            <a href="/testip" class="sign-in-link" style="color: #ffff; text-decoration: none;border-bottom: 2px solid white;padding-bottom: 5px;">Test IP</a>
            <a href="#" class="sign-in-link" style="color: black; text-decoration: none;"><img src="{{ url_for('static', filename='icons/image1.png') }}" alt=""></a>
            <a href="#" class="sign-in-link" style="color: black; text-decoration: none;"><img src="{{ url_for('static', filename='icons/image2.png') }}" alt=""></a>
            <a href="#" class="sign-in-link" style="color: black; text-decoration: none;"><img src="{{ url_for('static', filename='icons/image3.png') }}" alt=""></a>
            <a href="#" class="sign-in-link" style="color: black; text-decoration: none;"><img src="{{ url_for('static', filename='icons/image.png') }}" alt=""></a>
            <a href="#" class="sign-in-link" style="color: black;"><img src="{{ url_for('static', filename='image/image4.png') }}" alt=""></a>
            
            
            
        </div>
    </header> 

    <main class="file-check">
        <h1 class="loading-text">Loading...</h1>
        <p class="subheading">Check files structure</p>
        <div class="file-list">
            <p>Examination >> C:\Users\Имя_пользователя\Documents\Документ.txt</p>
            <p>Examination >> C:\Users\Имя_пользователя\Pictures\Фото.jpg</p>
            <p>Examination >> C:\Users\Имя_пользователя\Videos\Видео.mp4</p>
            <p>Examination >> C:\Program Files\Название_программы\program.exe</p>
            <p>Examination >> C:\Users\Имя_пользователя\Downloads\Файл.zip</p>
            <p>Examination >> C:\Windows\System32\cmd.exe</p>
            <p>Examination >> D:\Мои_документы\Проект\Документ.docx</p>
            <p>Examination >> C:\Users\Имя_пользователя\Desktop\Рабочий_файл.txt</p>
            <p>Examination >> C:\Users\Имя_пользователя\AppData\Roaming\SomeApp\config.ini</p>
            <p>Examination >> C:\Program Files (x86)\Название_программы\program.exe</p>
            <p>Examination >> C:\Program Files\Название_программы\program.exe</p>
            <p>Examination >> D:\Мои_документы\Проект\Документ.docxpictures\Фото.jpg</p>
            <p>Examination >> C:\Users\Имя_пользователя\Documents\Документ.txt</p>
            <p>Examination >> .... \ / -</p>
        </div>
    </main>

    <main class="main-content">
        <div class="sidebar left">
            <p style="margin-left: -108rem;margin-top: -55rem;">C</p>
            <br/>
            <br/>
            <p style="margin-left: -108rem;">Y</p>
            <br/>
            <br/>
            <p style="margin-left: -108rem;">B</p>
            <br/>
            <br/>
            <p style="margin-left: -108rem;">E</p>
            <br/>
            <br/>
            <p style="margin-left: -108rem;">R</p>
        </div>

        
    
        
 
</body>
</html>
